/* COLORS:
* Teal color (used for headings and backgrounds): `#4aaaa5`
* Regular font color (used for paragraphs and all text besides the headings): `#777777`
* Main header background color: `#ffffff`
* Main header border color: `#cccccc`
* Footer background color: `#666666`
* Main content background color: `#ffffff`
* Main content border color: `#dddddd` */

/*SITE-WIDE STYLES: */

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/light-grey-terrazzo.png');
    color: #777777;
}

h1, h2, h3, .port-lg-container {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.head {
    display: flex;
    background-color: #ffffff;
    border-bottom: 2.5px solid #cccccc;
    width: 100%;
    min-width: 960px;
    height: 90px;
}

.name {
    /* position: relative; */
    margin-left: 220px;
    display: inline-block;
    height: 87.5px;
    width: 290px;
    min-width: 260px;
    background-color: #4aaaa5;
}

h1 {
    color: #ffffff;
    font-size: 2.8em;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
}

h2 {
    color: #4aaaa5;
    font-size: 3em;
    font-weight: 600;
}

/*NAVIGATION */

nav {
    margin-left: 450px;
    width: 250px;
    height: 75px;
    background-color: #ffffff;
}

nav ul {
    display: flex;
    height: 100%;
    align-items: center;
}

nav ul li {
    font-size: 1.8em;
    font-weight: 500;
    padding: 0 10px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.1);
    /* transform: rotateX(45deg); */
}

nav ul li:last-child {
    border: none;
}

nav a {
    color: #777777;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    color: #59d8d2;
    text-decoration: none;
}

nav a:active {
    color: #84F6F1;
    border-bottom: 2px solid #84F6F1;
}

/* nav a:visited {color: #AA6B4A;}  */

/*END NAVIGATION */

main {
    width: 100%;
    min-height: 725px;
}

.content {
    margin-top: 35px;
    margin-left: 220px;
    padding: 30px;
    width: 960px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

hr {
    height: 2.5px;
    border: 0.5px solid #dddddd;
    background-color: #dddddd;
    margin: 25px 0;
}

footer {
    margin-top: 50px;
    width: 100%;
    background-color: gray;
    height: 90px;
    border-top: 10px solid #4aaaa5;
    text-align: center;
}

footer p {
    padding-top: 55px;
    font-size: 1.4em;
    color: #ffffff;
}

/*INDEX STYLES: */

#profilePic {
    float: left;
    width: 140px;
    margin: 5px 25px 15px 0;
}

.content p {
    font-size: 1.6em;
    line-height: 2;
}

/*CONTACT STYLES: */

label {
    display: block;
    font-size: 1.6em;
    padding: 5px;
}

input, textarea {
    width: 100%;
    color: #cccccc;
    border: 1px solid #cccccc;
    padding: 5px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 15px;
}

textarea {
    height: 200px;
    margin-bottom: 20px;
}

#submit {
    font-size: 1.8em;
    width: 115px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 0;
}

/*PORTFOLIO STYLES: */

.row {
    width: 585px;
}

.row:first-of-type {
    margin-top: -40px;
}

.row:last-of-type {
    margin-bottom: 30px;
}

.img-container img {
    width: 250px;
}

.img-container {
    height: 205px;
    display: inline-block;
    margin-right: 30px;
}

.img-container:nth-child(even){
    margin-right: none;
}

#img-overlay {
    position: relative;
    top: 150px;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color:#4aaaa5; /*SWITCH TO RGBA + ADD OPACITY*/
    opacity: 0.925;
    z-index: 100;
}

#img-overlay a {
    position: relative;
    top: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}





